html,
body {
    margin: 0;
    padding: 0;
    background-color: rgb(0, 255, 238);
    text-align: center;
}

h1,
h2,
p {
    color: white;
}

li{
    text-align: center;
}

nav ul {
    list-style-type: none;
    text-align: center;
}

nav li {
    display: inline;
}

nav a {
    text-decoration: none;
    font-size: 1.6em;
    color: white;
    margin-right: 25px;
}

nav a:hover {
    color: darkred;
}